@import "./assets/style/functions.scss";
@import "./assets/style/variables.scss";

@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body, .app { 
    min-height: 450px; 
    width: 330px;
    padding: 5px;
    border-radius: 16px;
    margin: 0;
    background-color: var(--my-yellow-6);
    font-family: 'Karla', sans-serif;
    font-size: px-to-rem(14px);

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
        -webkit-appearance:none;
    }
}

:root {
    --blue: #{$blue};
    --green: #{$green};
    --yellow: #{$yellow};
    --red: #{$red};
    --grey: #{$grey};
    --black: #{$black};
    --white: #{$white};

    --hover: #{$hover-color};

    @include color-shades($blue, my-blue);
    @include color-shades($green, my-green);
    @include color-shades($yellow, my-yellow);
    @include color-shades($red, my-red);
    @include color-shades($grey, my-grey);

    .link {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .tile-button {
        @extend %tile;
    }
    
    .clickable {
        &:hover {
            @extend %selected-tile;
        }
    }

    .disabled {
        @extend %disabled;
    }
    
}


%selected-tile {
    border: solid 2px rgba($hover-color ,0.4);
    background-color: rgba($hover-color ,0.4);
    box-shadow: 0 0 11px rgba($hover-color, 0.8);
    cursor: pointer;
}

%tile {
    font-size: px-to-rem(16px);
    width: fit-content;
    max-width: 80%;
    text-overflow: ellipsis;
    margin: 10px 15px;
    background-color: var(--my-yellow-6);
    border: solid 2px var(--my-yellow-80);
    border-radius: 14px;
    padding: 5px 10px;
}

%disabled {
    background-color: var(--my-yellow-6);
    opacity: 0.7;
    &:hover {
        cursor: default;
        box-shadow: none;
        background-color: var(--my-yellow-6);
        border: solid 2px var(--my-yellow-80);
    }
}

