@import "../../index.scss";

.timer-component {
    @extend %flex-column;
    height: 100%;
    padding: 0 5px;
    
    .custom-time {
        width: 140px;
        font-size: var(--title-font-size);
    }

    .custom-date {
        width: 140px;
        margin-top: 1px !important; 
    }
}