@import "../../index.scss";

.timer-component {
    height: 100%;
    margin: 0 10px 15px 10px;
    @extend %flex-column;
    
    .custom-time {
        width: 140px;
        font-size: var(--title-font-size);
    }

    .custom-date {
        width: 140px;
        margin-top: 1px !important; 
    }
}