.countdown-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .shutdown-label {
        font-size: var(--big-font-size);
        margin-bottom: 5px;
    }
}