@import "../../index.scss";

.video-end-component {
    @extend %flex-column;
    text-align: center;
    padding: 0 10px 5px 10px;
    .small-label {
        font-size: var(--small-font-size);
    }
}