.header {
    display: flex;
    justify-content: center;

    .title {
        margin:0 10px 3px 0;
        font-size: var(--title-font-size);
        align-self: center;
        font-weight: 700;
    }
}