@import '../../assets/style/variables.scss';

.override-style {
    width: 60%;
    margin: 0 15px 0 0 !important;
}

.api-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.disabled-description {
    padding: 10px 0 10px 0;
}

.override-button-style {
    border-radius: 8px !important;
    width: 90px !important;
    margin: 0 !important;

    &:focus {
        outline: none;
    }
}

.sports-error-tooltip {
    .content {
        padding: 7px 13px;
    }
}

.usage-description {
    padding: 15px 0 25px 0;

    &.host-disabled {
        padding: 5px 0 15px 0;
    }
}

.select-sport-button {
    -webkit-text-stroke: 0.2px var(--font-color);
    color: var(--selected-tile-color) !important;
}

.input-style-fixes {
    width: 298px;
    font-size: var(--big-font-size);
    padding: 7px 0 !important;
    margin: 5px 0 0 0 !important;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.time-input-fix {
    margin-right: 0 !important;
}

.sport-event-select-dialog {
    background-color: var(--background-color) !important;

    .dialog-content {
        width: 270px !important;
        height: 280px !important;
    }

    .override-button-style {
        margin-left: auto !important;
    }
}

.optional-delay {
    display: flex;
    align-items: center;
    width: 300px;
}

.sport-event-selected {
    font-size: var(--normal-font-size);

    &.host-disabled {
        font-size: var(--small-font-size);
    }
}

.sport-event-tile {
    height: 48px;
    margin: 5px;

    .sport-event-checkbox-label {
        align-items: baseline;
        text-align: initial;
    }

    .sport-event-league-name {
        font-size: var(--small-font-size);
        color: var(--box-shadow-color);
    }

    .sport-event-teams {
        font-size: var(--normal-font-size);
    }
}

.shutdown-scheduled {
    font-size: var(--big-font-size);
    padding: 30px;
}

.sports-label {
    margin-bottom: 15px;

    &:hover {
        cursor: default;
    }
}