.button-base {
    justify-content: center;
    margin: 4px;
    padding: 5px;
    border: solid 1.5px var(--border-color);
    border-radius: 8px;

    .button-icon{
        margin-bottom: 4px;
    }

    .label {
        text-align: center;
    }
}