.input-time-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;       

    .label {
        margin-right: 5px;
        font-size: var(--normal-font-size);
    }
}

.flex-column-reverse {
    flex-direction: column-reverse;
}
