.tooltip-base {
    transition: opacity .2s ease-out;
    text-align: center;

    .content {
        background-color: var(--hover-color);
        color: var(--white);
        padding: 4px;
        border-radius: 4px;
    }

    .tooltip-arrow {
        fill: var(--hover-color);
    }

    .tooltip-bottom {
        transform: rotate(180deg);
        bottom: -4px;
    }
}