@import "../../index.scss";

.tooltip-base {
    @extend %flex-column;
    transition: opacity .3s ease-out;
    text-align: center;

    .content {
        background-color: var(--hover-color);
        padding: 4px;
        border-radius: 4px;
    }

    .tooltip-arrow {
        position: relative;
        bottom: 4px;
        fill: var(--hover-color);
    }

    .tooltip-bottom {
        transform: rotate(180deg);
        bottom: -4px;
    }
}