.custom-time-input {
    padding: 5px;
    color: transparent;
    text-shadow: 0 0 0 var(--font-color);
    background-color: var(--background-color);
    border: solid 1px var(--border-color);
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin: 5px;

    &:focus {
        background-color: var(--selected-tile-color);
        outline: none;
    }

    &:hover {
        cursor: default;
    }

    &::selection {
        background-color: var(--background-color);
        color: var(--red);
    }
}