@import "../../index.scss";

.input-time-holder {
    @extend %flex-column;
    margin: 5px;       

    .label {
        margin-right: 5px;
        font-size: var(--normal-font-size);
    }
}

.flex-column-reverse {
    flex-direction: column-reverse;
}
