@import '../../assets/style/variables.scss';

.menu-buttons-wrapper {
    display: flex;
    height: 95px;
    padding: 7px;
    width: 100%;   
    margin-bottom: 5px; 

    .custom-button {
        display: flex;
        height: 60px;
        font-size: var(--normal-font-size);
        width: 90px;
        margin: 5px;
    }

    .triggers-label {
        top: 135px;
        position: absolute;
        width: $extension-width;
        text-align: center;
        font-size: var(--small-font-size);
    }

    .fixer-class {
        margin: 0;
        padding: 0;
        border: none;
        &:hover {
            margin: 0;
            padding: 0;
            border: none;
        }
    }

    .wrapper-fix {
        padding: 0;
        width: 100%;
    }

    .custom-tooltip {
        max-width: 110px;
    }
}