/* basic color variables */

$blue: #25a7ef;
$green: #70aa2e;
$yellow: #f9cb3a;
$red: #e44126;
$grey: #4d4d4f;
$black: #000;
$white: #fff;

$disabled-element-color: rgba( #666666, 0.7);
$dim-background-color: rgba( black, 0.15);