@import "../../index.scss";
@import "../../assets/style/variables.scss";
@import "../../assets/style/functions.scss";

.menu-buttons-wrapper {
    display: flex;
    height: 110px;
    padding: 7px;
    width: 100%;    

    .custom-button {
        @extend %tile;
        height: 60px;
        font-size: var(--normal-font-size);
        width: 90px;
        margin: 5px;
    }

    .triggers-label {
        top: 135px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: var(--small-font-size);
    }
}